.banner{
    background: var(--azul--gradiente--escuro);
    color: var(--branco);
    text-align: center;
    padding: 2em 2.5em;
}

.banner__titulo{
    font-size: 18px;
    font-weight: 700;
}

.banner__texto{
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa{
    width: 100%;
    background: transparent;
    border: 1px solid var(--branco);
    border-radius: 50px;
    padding: 1em;
    text-align: center;
    color: var(--branco);
}

.banner__pesquisa::placeholder{
    color: var(--branco);
    font-family: var(--fonte--principal);
    font-weight: 400;
    font-size: 14px;
    background: url("../img/Pesquisa.svg");
    background-repeat: no-repeat;
    background-position: left;
}


