.rodape{
    background-color: var(--branco);
    padding: 1em;
}

.rodape__titulo{
    color: var(--preto);
    font-weight: 400;
}

.rodape__campo--listas{
    display: none;
}

.rodape__lista{
    display: none;
}

@media screen and (min-width: 1024px){

    .rodape{
        display: flex;
        justify-content: space-around;
        padding: 3em 1em;
    }

    .rodape__titulo {
        font-size: 24px;
    }

    .rodape__lista{
        display: block;
        margin: 0 2em;
    }

    .rodape__lista h3{
        font-size: 14px;
        font-weight: 400;
        color: var(--cinza);
    }

    .rodape__item{
        display: flex;
        align-items: center;
        margin: 1em 0;
    }

    .rodape__item img{
        margin: 0 .5em;
    }

    .rodape__item p{

        font-weight: 400;
        color: var(--cinza--escuro);
    }

}

@media screen and (min-width: 1720px){

    .rodape{
        padding: 3em 1em;
    }
    .rodape__lista{
        border-left: 1px solid var(--cinza);
        padding-left: 1em;
    }


}