.topicos{
    background: var( --azul--gradiente--escuro);
    color: var(--branco);
    text-align: center;
    padding: .5em;
}

.topicos__titulo{
    margin: 1em 1em 1.5em;
    text-transform: uppercase;
    font-weight: 300;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.topicos__item{
    align-self: center;
    margin: 1.5em .5em;
}

.topicos__link{
    font-size: 14px;
    font-weight: 700;
    color: var(--branco);
    background-color: var(--laranja);
    text-decoration: none;
    padding: 1em;
}



@media screen and (min-width: 1024px){
    .topicos{
        padding: 1em 5em;
    }

    .topicos__lista{
        margin: 0 1em;
    }

    .topicos__item {
        margin: 2.5em 0.75em;
    }

    .topicos__link{

        font-size: 24px;
    }
}

@media screen and (min-width: 1720px) {
    .topicos {
        padding: 3em 25em;
    }


    .topicos__titulo{
        font-size: 32px;
    }
}